---
---

@import 'bootstrap';

@import 'custom-variables';
@import 'header';
@import 'footer';


img {
  max-width: 100%;
}

@media (max-width: $screen-xs-max) {
  .row > [class*="col-"] {
    margin-bottom: 20px;
  }
}

@media (min-width: $screen-sm-min) {
  .row > [class*="col-"] {
    margin-bottom: 30px;
  }
}

// Utilities
.margin-top {
  margin-top: $vertical-margin;
}

.padding-top {
  padding-top: $vertical-margin;
}

.margin-bottom {
  margin-bottom: $vertical-margin;
}

.padding-bottom {
  padding-bottom: $vertical-margin;
}

.container-blue {
  background-color: $brand-darkblue;
  color: $component-active-color;
}
