---
---

@import "bootstrap";

@import "header";
@import "footer";

$brand-darkblue: #132c47;

img {
  max-width: 100%;
}

@media (max-width: $screen-xs-max) {
  .row > [class*="col-"] {
    margin-bottom: 20px;
  }
}

@media (min-width: $screen-sm-min) {
  .row > [class*="col-"] {
    margin-bottom: 30px;
  }
}

.container-blue {
  background-color: $brand-darkblue;
  color: $component-active-color;
}
