<header role="banner">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">{% contentblock title %}</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Rio de Janeiro</a></li>
                    <li><a href="#">Foz do Iguaçu</a></li>
                    <li><a href="#">Morro de São Paulo</a></li>

                    {% comment %}
                        {% capture link1 %}{{ site.baseurl_root }}{{ page.url}}{% endcapture %}
                        {% capture link2 %}{{ site.baseurl_root }}/fr{{ page.url}}{% endcapture %}
                        {% capture link3 %}{{ site.baseurl_root }}/pt{{ page.url}}{% endcapture %}

                        {% if site.lang == "en" %}
                            <li><a href="{{ link2 }}" >FR</a></li>
                            <li><a href="{{ link3 }}" >PT</a></li>
                        {% elsif site.lang == "fr" %}
                            <li><a href="{{ link1 }}" >EN</a></li>
                            <li><a href="{{ link3 }}" >PT</a></li>
                        {% elsif site.lang == "pt" %}
                            <li><a href="{{ link1 }}" >EN</a></li>
                            <li><a href="{{ link2 }}" >FR</a></li>
                        {% endif %}
                    {% endcomment %}
                </ul>
            </div>
        </div>
    </nav>
</header>