@import "bootstrap/variables";
@import 'custom-variables';

.page-submenu {
  padding-top: 50px;

  .page-submenu-icon {
    display: block;
    text-align: center;
    font-size: $font-size-h1;

    &:before {
      display: inline-block;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      background-color: lighten($brand-darkblue, 15%);
    }

    &.glyphicon-road:before,
    &.glyphicon-home:before,
    &.glyphicon-camera:before {
      padding-top: 18px;
    }
  }
}

.page-section-bg-photo {
  &.where-to-stay-rio {
    background-image: url(/assets/img/villa-dos-corais-morro-de-saulo-1920.jpg);
  }
}